.lt-ie10 .gradient-wrap,
.lt-ie10 .gradient-row  {
   filter: none;
}

.lt-ie10 .top-menu.sticky.fixed .top-bar-section ul.follow-us .has-dropdown > a > i{
	padding: 3px 0;
}


.lt-ie10 .widget.xt_news .news-list.list li{
	list-style: none;
}
